<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="ndp" name="author">
    
    <title>ndp</title>
    
    <!-- Styles -->
    <link href="/res/stylesheets/main.css" rel="stylesheet">
    
    <!-- Google webfonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro|Crimson+Text:400,400italic,700,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lusitana|Open+Sans:400&amp;text=ndpblogarchivesf2015ut" rel="stylesheet" type="text/css">
    <body>
      <div class="wrap">
        <header>
          <div class="title">ndp</div>
          <div class="navi"></div>
        </header>
        <article>
          <header>
            <h1><a href="#">Page Title</a></h1>
            <time>01 January 1970</time>
          </header>
          <div class="post-body">
            Lorem ipsum etc...
          </div>
          <footer>
            <i>Tagged under <span class="tags">Tags go here!</span></i>
          </footer>
        </article>
        <hr/>
        <div class="pagination">
	  <div class="older"></div>
	  <div class="total"></div>
          <div class="newer"></div>
        </div>
        This template is dynamically configurable!!!
        <footer>
          Copyright © <time class="year">1970</time>
          <span id="site-author">Frank Sinatra</span>
        </footer>
      </div>
    </body>

</html>
